# .NET Core
project.lock.json
.project.json
.~project.json
*.csproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
nupkg/

# Visual Studio Code
.vscode/
*.swp
*.bak
*.user
*.aps
*.tmp
*.suo
*.sln.docstates
*.sln.ide/

# Rider
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs
Properties/PublishProfiles/
Properties/ServiceDependencies/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/