.skeleton {
    background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
    display: flex;
    flex-direction: column;
}

.text {
    background-color: rgb(235, 235, 235);
    flex-grow: 8;
    margin-bottom: 1rem;
    border-radius: 10px;
	padding: 1rem;
}

.footer {
    background-color: rgb(235, 235, 235);
    flex-grow: 1;
    border-radius: 10px;
	padding: 1rem;
}

.skeleton-header  {
    background-color: rgb(235, 235, 235);
    flex-grow: 1;
    margin-bottom: 1rem;
    width: 50%;
    border-radius: 10px;
	padding: 1rem;
}

.skeleton.width-100 {
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}

/* animation */
@keyframes pulse {
    /* 50% {
        opacity: 0.6;
    } */
    0% {
        background-color: rgb(245, 245, 245);
    }
    50% {
        background-color: rgb(230, 230, 230);
    }
    100% {
        background-color: rgb(245, 245, 245);
    }
}

.animate-pulse {
    animation: pulse 2.7s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}