.skeleton {
    background-color: #fef68a;
	border-radius: 10px;
	padding: 1rem;
	min-height: 170px;
    display: flex;
    flex-direction: column;
}

.text {
    background-color: rgb(235, 235, 235);
    flex-grow: 9.5;
    margin-bottom: 1rem;
    border-radius: 10px;
	padding: 1rem;
}

.footer {
    background-color: rgb(235, 235, 235);
    flex-grow: 0.5;
    border-radius: 10px;
	padding: 1rem;
}

.skeleton.width-100 {
    width: 100%;
}

.skeleton.width-50 {
    width: 50%;
}

/* animation */
@keyframes pulse {
    50% {
        opacity: .5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}